/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #222;
}

/* HOME BACKGROUND */
body.home {
  background: linear-gradient(to right, #fff5f5, #fff);
}

/* NAVBAR */
.navbar {
  background: #8B0000;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar h2 {
  font-size: 28px;
}

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: #ffd700;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h4 {
  color: #8B0000;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 55px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #c0392b;
}

.hero p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.hero-buttons a {
  text-decoration: none;
}

button {
  background: linear-gradient(45deg, #ff4757, #c0392b);
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* DASHBOARD */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px 8%;
}

.box {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.box h3 {
  font-size: 30px;
  color: #8B0000;
  margin-bottom: 10px;
}

/* SIMPLE BOX */
.simple-box {
  background: white;
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.simple-box h2 {
  color: #8B0000;
  margin-bottom: 20px;
}

.simple-box p {
  line-height: 1.8;
  margin-bottom: 15px;
}

.simple-box ul {
  padding-left: 20px;
  line-height: 2;
}

/* FORM */
input,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

/* FOOTER */
footer {
  background: #8B0000;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .navbar {
    padding: 20px;
    text-align: center;
    justify-content: center;
    gap: 15px;
  }

  .hero h1 {
    font-size: 38px;
  }

  .menu {
    justify-content: center;
  }

  .hero-buttons {
    justify-content: center;
  }
}
